appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
automium==0.2.6
automium-web==0.1.1
boto3==1.14.22
botocore==1.17.22
cart==1.1.8
click==7.1.2
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-crispy-forms==1.10.0
django-email-verification==0.0.5.post1
django-filter==2.4.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-storages==1.11.1
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
legacy==0.1.6
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==8.0.1
psycopg2==2.8.6
public==2020.12.3
pycryptodome==3.9.9
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
s3transfer==0.3.3
self==2020.12.3
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.25.11
virtualenv==20.2.2
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
whitenoise==5.2.0
    wrapt==1.12.1
